body {
    font-family: 'Verdana', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #888888;
}

.felix-button {
  position: fixed;
  /* width: 56px; */
  /* padding-right: 8px; */
  left: 50px;
  bottom: 25px;
  z-index: auto;
}

#felix-hidden {
  position: fixed;

  /* width: 56px; */
  left: 28px;
  bottom: 75px;
  z-index: auto;
}

.card-number {
	font-size: 2em;
}

.good-turbine {

	color: #4CAF50;
}

.clientTable {
  width: 70%;
}

.bad-turbine {
	color: #f44336;
}

h6 {
  color: #888888;
}

.media-body {
  padding-left: 30px;
}

.media-object {
  margin-left: 10px;
}

.media-body-emerging {
  margin-left: 20px;
}

.media-object-emerging {
  margin-left: 18px;
}

.card-body-circle {
  border-radius: 50%;
  height: 100%;
  width: 125px;
}
